@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F5D2D2;
    display: flex;
    justify-content: center;
    align-content: center;    
}

.container {
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr ;
    border-radius: 20px;
    width: 49%;
    height: 500px;
    justify-content: center; 
    align-items: center; 
    margin-top: 6rem;
}

img{
    border-radius: 20px 0px 0px 20px;
    width: 400px;
    height: 500px;
    margin: 0;
    padding: 0; 
}

.sign-box{
    font-family: 'poppins';
    margin-left: 6rem ;
}

.h1in{
    text-align: center;
    margin-bottom: 4rem;
}

input{
    padding: 8px 25px;
    background-color: transparent;
    stroke: #3a0519;
    border-radius: 10px;
}

button{
    background-color: #3a0519;
    color: #fff;
    padding: 8px 85px;
    border-radius: 10px;
}

p{
    font-size: 12px;
    margin-left: 1rem;
}

select{
    padding: 6px 68px;
    background-color: transparent;
    stroke: #3a0519;
    font-family: 'poppins';
    border-radius: 10px;
}